In [10]:
import pandas as pd
import numpy as np
import json
from tqdm import tqdm_notebook

In [11]:
data = pd.read_csv("/home/peer/Data/tatorte.csv", ";")
data.head()

,id,title,uid,address,description,source_url,created_timestamp,action_timestamp,point,exact,image_urls,once_visible,modified_timestamp,parser_error,original_title,original_point,teaser,show_teaser
0,5809,Gasaustritt in Tiergarten,b4125cbc952cf3717f83112feddf51cf,NaN,Im Erdgeschoss eines Labors für Lebensmittelun...,http://www.berliner-feuerwehr.de/aktuelles/ein...,2016-10-10 09:42:48.132078+00,2016-09-02 14:38:00+00,NaN,f,{http://www.berliner-feuerwehr.de/typo3temp/_p...,f,2017-01-06 13:31:34.645978+00,f,Gasaustritt in Tiergarten,NaN,NaN,f
1,16916,Erneut Brandmeldealarm im Industriegebiet,8796ef4b85eda1c1891e5d4649de2038,NaN,Breckerfeld (ots) -,http://www.presseportal.de/blaulicht/pm/69791/...,2016-10-31 15:57:44.027312+00,2016-08-27 08:47:00+00,NaN,f,NaN,f,2017-01-06 13:31:35.421672+00,f,Erneut Brandmeldealarm im Industriegebiet,NaN,NaN,f
2,88989,Sofa brannte,FpDsO3BmnRpVZtLNRIFkBMeUx3AMhLxL,NaN,Ahlen (ots) - Der Löschzug der Feuerwehr Ahlen...,http://www.presseportal.de/blaulicht/pm/119855...,2017-02-03 02:28:44.041216+00,2017-02-02 17:55:00+00,NaN,f,{},f,2017-02-03 02:28:44.04125+00,f,Sofa brannte,NaN,NaN,f
3,120903,Zwei Autos auf der Eschenstraße und der Straße...,d9QF07cWv558krRvUFBUX6ojZe1TBL7I,NaN,"Recklinghausen (ots) - Am Sonntag, zur Tagesze...",http://www.presseportal.de/pm/42900/3583148,2017-03-14 04:02:11.661131+00,2017-03-13 08:54:00+00,NaN,f,{},f,2017-03-14 04:02:11.661164+00,f,Zwei Autos auf der Eschenstraße und der Straße...,NaN,NaN,f
4,44635,"Zell a.H., Unterentersbach - Zwei Einbrüche",0ccdFRLOhJfj8BpbqcmQfXvRK7OjDFJh,NaN,"Zell a.H., Unterentersbach (ots) - Zell a.H., ...",http://www.presseportal.de/blaulicht/pm/110975...,2016-12-02 14:42:06.614737+00,2016-12-02 11:13:00+00,NaN,f,{},f,2017-01-06 13:31:35.754956+00,f,"Zell a.H., Unterentersbach - Zwei Einbrüche",NaN,NaN,f

In [12]:
data = data[["id", "title", "description"]]
data = data.dropna()
data = data[data.description.str.len() > 40]
data = data.reset_index()
data.drop("index", axis=1, inplace=True)

In [13]:
ctypes = json.loads(open("/home/peer/Data/crime.json").read())

In [14]:
ctype_with_idx = []
for i in tqdm_notebook(range(len(ctypes))):
    same_cases = data[data.title == ctypes[i]["crime"]["title"]]
    for j in same_cases.index:
        ctype_with_idx.append((j, ctypes[i]["crime"]["ctype"]))

HBox(children=(IntProgress(value=0, max=20000), HTML(value='')))

In [15]:
ctype_with_idx_new = list(set(ctype_with_idx)) # remove duplicates

In [16]:
ctype_with_idx_new = np.asarray(ctype_with_idx_new)
ctype_with_idx_new = ctype_with_idx_new[np.concatenate((np.where(ctype_with_idx_new.T[1] == 6)[0][:340], (np.where(ctype_with_idx_new.T[1] != 6)[0])))]

In [17]:
x, y = data.description[ctype_with_idx_new.T[0]].to_numpy(), ctype_with_idx_new.T[1]
np.save("data_x.npy", x)
np.save("data_y.npy", y)

In [20]:
len(ctypes)

20000